<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5nVxDLr9Y9-STclXJFWm18QgE8Mp0QyA</string>
	<key>GCM_SENDER_ID</key>
	<string>970721470332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradproject</string>
	<key>PROJECT_ID</key>
	<string>orsa-602cb</string>
	<key>STORAGE_BUCKET</key>
	<string>orsa-602cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970721470332:ios:5d60b65e09e1aae62f66f9</string>
</dict>
</plist>